{% extends "base.html" %}

{% block head_title %}
{%- if profileView -%}
  {{ profileView.DisplayName|default:profileView.Handle }} is live on {{ brandName }}
{%- else -%}
  {{ brandTitle }}
{%- endif -%}
{% endblock %}

{% block html_head_extra -%}
{%- if profileView -%}
  <meta property="og:type" content="website">
  {%- if requestURI %}
  <meta property="og:url" content="{{ requestURI }}">
  {% endif %}
  <meta property="og:title" content="{{ profileView.DisplayName|default:profileView.Handle }} is live on {{ brandName }}">
  <meta name="twitter:title" content="{{ profileView.DisplayName|default:profileView.Handle }} is live on {{ brandName }}">
  {% if liveTitle %}
  <meta name="description" content="{{ liveTitle }}">
  <meta property="og:description" content="{{ liveTitle }}">
  <meta name="twitter:description" content="{{ liveTitle }}">
  {% endif %}
  <meta property="og:image" content="{{ liveImage }}">
  <meta name="twitter:image" content="{{ liveImage }}">
  <meta name="twitter:card" content="summary_large_image">
{% endif -%}
{%- endblock %}
